<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>

<body style="background-image: linear-gradient(to right, #ffefba, #ffffff);">
    <h1> Create Article</h1>
    <form method="POST" action="/create">
        <label for="title">Title</label>
        <br>
        <input type="text" id="title" name="title" required style="width:400px; height:100px;"><br><br>
        
        <label for="content">Content</label>
        <br>
        <input type="content" id="content" name="content" required style="width:700px; height:300px;"><br><br>
        
        <button type="submit">Create</button>
    </form>
</body>