<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body style="background-image: linear-gradient(to right, #ffefba, #ffffff);">
    <h1>Article board</h1>
    <button type = "button"><a href = "{{url_for('create_article') }}">Create</a></button> <button type = "button"><a href = "{{url_for('logout') }}">Logout</a></button><br><br>
    <div class="enter class here">
        {% for a in art %}
            <a href="{{ url_for('view_article', title=a) }}">{{a}}</a>
            <br>
        {% endfor %}
    </div>
</body>