<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Article board</h1>
    <div class="enter class here">
        {% for a in art %}
            <a href="{{ url_for('view_article', article_id=a.id) }}">{{ a.title }}</a>
            <br>
        {% endfor %}
    </div>
    
    <!-- Add Article Button -->
    <a href="{{ url_for('add_article') }}">Add Article</a>
</body>
</html>