<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body style="background-image: linear-gradient(to right, #ffefba, #ffffff);">
    <h1>Login</h1>
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <div class="g-recaptcha" data-sitekey="6LcoghMpAAAAAKqvT8mWloGrPs48kglymWc-U6Jf"></div> <br/>
        <button type="submit">Login</button> <br><br>
    </form>
    Don't have an account? Sign up <a href = "{{url_for('register') }}">here</a>!
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
</html>
