<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>{{story.title}}</h1>
    <h2>by {{story.author_id}}</h2>
    <div class ="enter class here">
       {{story.content}}
            
       
    </div>
    <h3>Join the Conversation</h3>
    <div>
        <form method="POST" action=" {{url_for('postComment', storyId = story.artId, title = story.title)}}">
            <input type="text" id="COMMIT" name="COMMIT" placeholder="Write a comment" required><br><br>
            <button type="submit">Post</button>
        </form>
    </div>
    <div>
        {% for comm in comments %}
            Annon: {{comm}} <br>
        {% endfor %}
    </div>
    
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
</html>